*{
    box-sizing: border-box;
    border: 1px solid red;
}

html, body{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    background: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    border: 1px solid;
    color: white;
    padding: 8px;
    margin: 4px;
    text-decoration: none;
    border-radius: 4px;
}