* {
    box-sizing: border-box;
    border: 1px solid red;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-container{
    display: flex;
    min-height: 800px;
    flex-wrap: wrap;
}

nav{
    flex-grow: 1;
    min-width: 200px;
    min-height: 200px;
}

main{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.main-row{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer{
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.footer-row{
    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;
}

.footer-map{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    min-height: 250px;
}

.footer-p-1{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    min-height: 250px;
}

.footer-p-2{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    min-height: 250px;
}

.footer-p-3{
    flex-grow: 1;
}

.no-margin {
    margin: 0px;
}

.square {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 175px;
}

.main-p {
    width: 350px;
}